@import 'tailwindcss';

body {
  height: 100vh;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

.MuiTableRow-head .MuiTableCell-head {
  @apply font-semibold text-slate-600;
}

.MuiTableRow-root .MuiTableCell-body {
  @apply text-[16px] text-slate-600;
}
